---
# Introduction to Machine Learning Lab-5

#### In this lab, we will be implementing different classifiers

---
## Importing Modules
---

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import CategoricalNB
from sklearn.neural_network import MLPClassifier

---
## Loading Dataset
---

In [2]:
df = pd.read_csv('abalone19.csv')

---
## Dropping the unnecessary columns
---

In [3]:
df['Sex'].value_counts()

Sex
M    1526
I    1341
F    1307
Name: count, dtype: int64

In [4]:
df['Class'].value_counts()

Class
negative    4142
positive      32
Name: count, dtype: int64

---
## Fitting the Model
---

In [5]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
d = encoder.fit_transform(df[['Sex']]).toarray()
dd=pd.DataFrame(d,columns=encoder.get_feature_names_out())
dd
df['Sex_F']=dd['Sex_F']
df['Sex_I']=dd['Sex_I']
df['Sex_M']=dd['Sex_M']
df.drop('Sex',axis=1,inplace=True)
df

,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Class,Sex_F,Sex_I,Sex_M
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,negative,0.0,0.0,1.0
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,negative,0.0,0.0,1.0
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,negative,1.0,0.0,0.0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,negative,0.0,0.0,1.0
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,negative,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
4169,0.560,0.430,0.155,0.8675,0.4000,0.1720,0.2290,negative,0.0,0.0,1.0
4170,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,negative,1.0,0.0,0.0
4171,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,negative,0.0,0.0,1.0
4172,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,negative,0.0,0.0,1.0
4173,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,negative,1.0,0.0,0.0

In [6]:
x=df.drop("Class",axis=1)
y=df["Class"]

---
## Using the Classifiers
---

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
d = {
    'RandomForestClassifier': RandomForestClassifier(),
    'LogisticRegression': LogisticRegression(),
    'SVC': SVC(),
    'DecisionTreeClassifier': DecisionTreeClassifier(),
    'MLPClassifier': MLPClassifier()
}


def hh(model):
    classifier = model
    classifier.fit(x_train, y_train)
    y_pred = classifier.predict(x_test)
    return accuracy_score(y_test, y_pred)


for i, j in d.items():
    print(i, hh(j))

RandomForestClassifier 0.9952095808383233
LogisticRegression 0.9952095808383233
SVC 0.9952095808383233
DecisionTreeClassifier 0.9808383233532935
MLPClassifier 0.9952095808383233